* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

body {
  direction: rtl;
  background: linear-gradient(45deg, #240165, #05001c);
}

.container {
  margin: 50px auto;
  max-width: 90%;
}

.city-date {
  text-align: center;
  margin-bottom: 30px;
}

.city h1 {
  font-weight: 400;
  font-size: 8vw;
  color: white;
}

.date h6 {
  font-weight: 200;
  font-size: 4vw;
  color: white;
}

hr {
  margin: 0 auto;
  width: 80%;
  border-color: #5200e1;
}

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background-color: white;
  height: auto;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0px 10px 7px rgb(0, 0, 0, 30%);
  border-radius: 20px;
  text-align: center;
}

.name {
  background: linear-gradient(45deg, #5709ee, #7a37bf);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
}

.name h1 {
  font-weight: 400;
}

.time {
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-city {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

select {
  background: none;
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
  color: white;
  width: 200px;
  border-radius: 20px;
  height: 35px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}

select option {
  background-color: #180148;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .city h1 {
    font-size: 7vw;
  }

  .date h6 {
    font-size: 3.5vw;
  }

  .time {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .city h1 {
    font-size: 10vw;
  }

  .date h6 {
    font-size: 5vw;
  }

  .time {
    font-size: 5vw;
  }

  .select-city {
    margin-top: 20px;
  }
}
hr {
  margin: 0 auto;
  width: 80%;
  border-color: #5709ee;
  border-width: 2px;
}
